<!-- Add back to top button -->
<a href="#" id="back-to-top" title="Back to top"></a>

<!-- Back to top button CSS -->
<style>
#back-to-top {
    display: none;
    position: fixed;
    bottom: 5px;
    right: 15px;
    width: 40px; /* Reduced size */
    height: 40px; /* Reduced size */
    border-radius: 50%; /* Circular button for modern look */
    background-color: var(--body-background);
    box-shadow: var(--shadow-l2);
    font-size: 20px; /* Adjusted for smaller button */
    text-align: center;
    line-height: 38px; /* Center align arrow */
    cursor: pointer;
    transition:
    transform 0.3s ease,
    background-color 0.3s ease; /* Added smooth interaction */
}

#back-to-top:before {
    content: "";
    display: inline-block;
    position: relative;
    transform: rotate(135deg);
    height: 8px; /* Reduced size */
    width: 8px; /* Reduced size */
    border-width: 0 0 2px 2px;
    border-color: var(--back-to-top-color);
    border-style: solid;
}

#back-to-top:hover {
    transform: scale(1.1); /* Slightly larger on hover */
    background-color: var(--accent-background); /* Optional hover effect */
}

#back-to-top:hover:before {
    border-color: var(--accent-color); /* Change arrow color on hover */
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    #back-to-top {
    bottom: 5px;
    right: var(--container-padding);
    width: 30px; /* Slightly smaller for mobile */
    height: 30px;
    font-size: 16px;
    line-height: 32px;
    }
}

@media screen and (min-width: 1024px) {
    #back-to-top {
    bottom: 10px;
    right: 20px;
    }
}

@media screen and (min-width: 1280px) {
    #back-to-top {
    bottom: 15px;
    right: 25px;
    }
}

@media screen and (min-width: 1536px) {
    #back-to-top {
    bottom: 15px;
    right: 25px;
    /* visibility: hidden; */
    }
}
</style>
<script>
    (function(){var w=window;if(w.ChannelIO){return w.console.error("ChannelIO script included twice.");}var ch=function(){ch.c(arguments);};ch.q=[];ch.c=function(args){ch.q.push(args);};w.ChannelIO=ch;function l(){if(w.ChannelIOInitialized){return;}w.ChannelIOInitialized=true;var s=document.createElement("script");s.type="text/javascript";s.async=true;s.src="https://cdn.channel.io/plugin/ch-plugin-web.js";var x=document.getElementsByTagName("script")[0];if(x.parentNode){x.parentNode.insertBefore(s,x);}}if(document.readyState==="complete"){l();}else{w.addEventListener("DOMContentLoaded",l);w.addEventListener("load",l);}})();
  
    ChannelIO('boot', {
      "pluginKey": "4280222a-4ba1-45f9-a3f1-7284318c9e9b"
    });
  </script>

